.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 42px;

  .filterWithLabel {
    position: relative;

    p {
      position: absolute;
      top: -25px;
    }
  }
}
