@import '../../../styles/colors';
@import '../../../styles/typography';

@mixin circle {
  content: '';

  position: absolute;
  z-index: -1;
  left: 0.5px;

  width: 36px;
  height: 36px;

  border-radius: 50%;
}

.checkboxWrapper {
  display: flex;
  gap: 11px;
  align-items: center;
}

.label {
  font-size: var(--font-size-s);
  line-height: var(--line-height-m);
}

.checkboxRoot {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 18px;
  height: 18px;

  background-color: transparent;
  border: 2px solid var(--color-light-900);
  border-radius: 2px;

  &[data-state='checked'] {
    background-color: var(--color-light-100);
    border: 2px solid var(--color-light-100);
  }

  &[data-state='checked']:disabled {
    background-color: var(--color-dark-100);
    border: 2px solid var(--color-dark-100);

    svg {
      color: #dbdae0;
    }
  }

  &:active::before,
  &:focus::before {
    @include circle;

    background-color: var(--color-dark-100);
  }

  &:hover::before {
    @include circle;

    background-color: var(--color-dark-500);
  }

  &:disabled {
    border: 2px solid var(--color-dark-100);
  }

  &:disabled:active::before,
  &:disabled:focus::before,
  &:disabled:hover::before {
    display: none;
  }

  &:disabled + label {
    color: var(--color-dark-100);
  }
}

.checkboxIcon {
  color: var(--color-dark-900);
}
