.forgotPassword {
  padding: 33px 36px 25px 36px;

  form {
    text-align: center;

    h1 {
      margin-bottom: 27px;
    }

    .info {
      color: var(--color-light-900);
      text-align: start;
      opacity: 0.5;
      margin: 19px 0 65px;
    }

    button[type='submit'] {
      cursor: pointer;
      margin-bottom: 20px;
    }

    .info2 {
      color: var(--color-light-900);
      margin-bottom: 7px;
    }

    .logInLink {
      display: block;
      font-weight: var(--font-weight-bold);
      color: var(--color-accent-500);
    }
  }
}
