@import '../../../styles/colors';

.input {
  width: 284px;
  height: 36px;
  border: 1px solid var(--color-dark-300);
  border-radius: 2px;
  background-color: transparent;
  padding: 0 12px;
  outline: none;
  &:placeholder-shown {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-m);
  }
  &:focus {
    border: 1px solid var(--color-light-100);
    }
}
