@mixin default-input-styles {
  background-color: transparent;
  border: 1px solid var(--color-dark-300);
}

.inputRoot {
  position: relative;
  display: flex;
  flex-direction: column;

  & > div {
    position: inherit;
  }
}

.inputWrapper {
  position: inherit;
}

input {
  width: 284px;
  height: 36px;
  padding: 0 12px;

  border-radius: 2px;
  outline: none;

  @include default-input-styles;

  &.inputPaddingOnLeftSide {
    padding: 0 12px 0 43px;
  }

  &.inputPaddingOnRightSide {
    padding: 0 43px 0 12px;
  }

  &.error,
  &.error:active,
  &.error:focus,
  &.error:hover {
    color: var(--color-danger-300);
    border: 1px solid var(--color-danger-300);
  }

  &:placeholder-shown {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-m);
  }

  &:active {
    border: 1px solid var(--color-light-100);
  }

  &:focus {
    outline: 2px solid var(--color-info-700);
  }

  &:hover {
    background-color: var(--color-dark-700);
    border: 1px solid var(--color-dark-100);
  }

  &:disabled {
    color: var(--color-dark-300);
  }

  &:disabled:active,
  &:disabled:focus,
  &:disabled:hover {
    @include default-input-styles;
  }
}

.inputBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  display: inline;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  border: none;

  &.iconOnLeftSide {
    left: 14px;
  }

  &.iconOnRightSide {
    right: 14px;
  }

  &:disabled {
    opacity: 0.3;
  }
}
