.switcher {
  padding: 6px 24px;

  background-color: transparent;
  border: 0;
  border: 1px solid var(--color-dark-300);

  transition:
    background-color 0.2s,
    border-color 0.2s;

  &:first-of-type {
    border-radius: 2px 0 0 2px;
  }

  &:last-of-type {
    border-radius: 0 2px 2px 0;
  }

  &:hover {
    color: var(--color-light-900);
    background-color: var(--color-dark-300);
    border-color: var(--color-dark-100);
  }

  &:active {
    color: inherit;
    background-color: var(--color-accent-500);
    border-color: var(--color-accent-500);
  }

  &:disabled {
    color: var(--color-dark-300);
    background-color: var(--color-dark-700);
    border-color: inherit;
  }
}
