.createNewPassword {
  padding: 33px 36px 60px;

  form {
    text-align: center;

    h1 {
      margin-bottom: 51px;
    }

    .info {
      color: var(--color-light-900);
      text-align: start;
      opacity: 0.5;
      margin: 19px 0 41px;
    }

    button[type='submit'] {
      cursor: pointer;
    }
  }
}
